# =========================
# Unreal Engine 5 GitIgnore
# =========================

# Visual Studio
.vs/
.vscode/
*.VC.db
*.VC.opendb
*.suo
*.sdf
*.opensdf
*.sln
.vsconfig

# OS Files
.DS_Store
Thumbs.db

# =========================
# Compiled/Binary Files
# =========================

*.o
*.obj
*.exe
*.dll
*.so
*.dylib
*.lib
*.a
*.app
*.ipa
*.pdb

# =========================
# Unreal Generated Folders
# =========================

Binaries/
Build/
DerivedDataCache/
Intermediate/
Saved/

# Plugin generated folders
Plugins/*/Binaries/
Plugins/*/Intermediate/

# =========================
# Unreal Cache / Crash / Logs
# =========================

Saved/Autosaves/
Saved/Backup/
Saved/Collections/
Saved/Config/
Saved/Crashes/
Saved/Logs/
Saved/MaterialStats/
Saved/Shaders/
Saved/StagedBuilds/
Saved/Temp/
Saved/webcache*/
Saved/webcache_*/

# =========================
# Ignore CEF Browser Data
# =========================

Cookies
LOG
LOG.old
CURRENT
LOCK
MANIFEST-*

# =========================
# Generated Project Files
# =========================

*.xcodeproj
*.xcworkspace

# =========================
# Source Art
# =========================

SourceArt/**/*.png
SourceArt/**/*.tga

# =========================
# Built Map Data
# =========================

*_BuiltData.uasset

# =========================
# Keep Important Build Files
# =========================

!Build/*/
!Build/*/PakBlacklist*.txt
!Build/**/*.ico